APP_NAME=Legend Motors API

DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=LegendMotors

SECRET_KEY=your_secret_key_here

ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=1

ALGORITHM=HS256

VITE_API_URL=http://localhost:8000
VITE_WHATSAPP_NUMBER=+970 569 102 566
